@media print {
    
#leftmenu {display:none; }   
 
#content {
    margin: auto auto;
    min-height:inherit;
    border: 1px solid #000;
    width: 100%;
    padding-left: 7px;
   
}
#header {
    height: 100px;
    border: 1px solid #000;
}   

#sidebar2 {display:none;}

video {display:none; }

a:link:after,
a:visited:after{
    content:"["attr(href)"]";
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}